<form action="/square/results">
  <div>
    <label for="square_input">Enter a number</label>
    <input id="square_input" type="text" name="user_square_input" placeholder="What number do you want">
  </div>

  <div>
    <button>Calculate square</button>
  </div>
</form>
