<h1>Square Root Results</h1>

<div>Number</div>
<div> <%= params.fetch("user_square_root") %> </div>
<%# for dynamic, replace with below
# <%=@number%>
<div>Square Root<div>
<div> <%= Math.sqrt(params.fetch("user_square_root").to_f) %> </div>
<%# for dynamic, replace with below
# <%=@rooted%>


<div><p><a href="/square_root/new">Calculate another square root</a></p><div>
